* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 12 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    z-index: 1;
    background: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
}
header.note {
    background: rgba(255, 255, 255, 1);
}
header:hover {
    background: rgba(255, 255, 255, 1);

}
.logo {
    margin-top: 0%;
    font-size: 50px;
    cursor: pointer;
    padding: 0 20px 0 0 ;
    display: inline-block;
}
.menu {
    flex: 2;
    display: flex;
    
}
.menu > li {
    padding: 13px 14px;
    position: relative;
    cursor: pointer;
}

.menu > li:hover .sub-menu0 {
   visibility: visible;
   top: 62px;
}

.sub-menu0 ul {
    padding-left: 20px;
}

.sub-menu0 > li a:hover {
    color: #c0392b ;
}
.sub-menu0 ul li:hover {
    color: #c0392b ;
}

.sub-menu0 {
    position: absolute;
    width:160px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 10px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
    z-index: 1;
    background: white;
    line-height: 1.4  ;
    line-height: 25px;
    box-shadow: 0 0 10px #ccc ;
}

.menu > li:hover .sub-menu1 {
    visibility: visible;
    top: 62px;
}
.sub-menu1 ul {
    padding-left: 20px;
}

.sub-menu1 > li a:hover {
    color: #c0392b ;
}
.sub-menu1 ul li:hover {
    color: #c0392b ;
}

.sub-menu1 {
    position: absolute;
    width: 165px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 10px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
    z-index: 1;
    background: white;
    line-height: 1.4  ;
    line-height: 30px;
    box-shadow: 0 0 10px #ccc ;

}

.menu > li:hover .sub-menu2 {
    visibility: visible;
    top: 62px;
}
.sub-menu2 > li a:hover {
    color: #c0392b ;
}
.sub-menu2 {
    position: absolute;
    width: 160px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
    z-index: 1;
    background: white;
    box-shadow: 0 0 10px #ccc ;
}

.menu > li a {
    font-size: 17px;
    font-weight: bold;
    display: block;
    line-height: 25px;
    cursor: pointer;
}
.menu > li a span {
    color:red
} 
.others {
    flex: 1;
    display: flex;
}
.others > li {
    padding: 0 20px;
    position: relative;
    cursor: pointer;
}
.others > li::after {
    content: "";
    display: block;
    width: 2px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
}
.others li:last-child::after {
    display: none;
}
.others > li:first-child {
    position: relative;
}
.others > li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
    font-size: 20px;
}

.others > li:first-child i {
    position: absolute;
    right: 10px;
   
}

#Slider {
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
    margin-top: 74px;
    
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
   
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
  }
.dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.dot.active {
    background-color: #333;
}

/* ............Chi tiết sản phẩm.............. */
.chi-tiet {
    background: #fff;
    padding: 15px;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 30px;
}
/* .title h1 {
    margin-top: 20px;
    margin-left: 12%;
} */

.title ul {
    display: flex;
    font-weight: bold;
    float: right;
    margin-bottom: 20px;
}

.title ul li {
    color: red;
    margin-top: 5px;
    
}

.nut-mua {
    margin-left: 15px;
    font-weight: bold;
     border: none;
     background: #32c5d2;
     color: white;
     padding: 10px 35px;
     cursor: pointer;
    transition: background 1s;
}

.nut-mua:hover {
    background: green;
}
 
.imgchitiet img {
    width: auto;
    height: auto;
    max-width: 100%;
    /* max-height: 100%; */
    vertical-align: middle;
    margin-bottom: 10px;
}

/*-----------------------------------------------*/
.app-container {
    text-align: center;
    align-items: center;
    padding: 40px 0 50px 0;
  
}
.black-line-center {
  width: 100%;
  height: 2px;
  background-color: #32c5d2;
  margin: 25px auto;
}
.app-gg {
    margin: 50px;
}
.app-gg img {
    height: 75px;
    cursor: pointer;
}
.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 25px;
    color: #000;
    font-weight: bold;
}
.app-container input {
    margin-top: 50px;
    border: none;
    border-bottom:  1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
    font-size: 20px;
}


/*------------------------------------------------------footer------------------------------*/

footer {
    text-align: center;
}

.footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top img {
    height: 50px;
}
.footer-top li {
    padding: 0 12px;
    position: relative;
}
.footer-top li::after {
    content: "";
    display: block;
    width: 2px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
}
.footer-top li:last-child::after {
    display: none;
}
.footer-top li:last-child a {
    margin-right: 12px;
    color:#333;
}
.footer-top li a {
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}







